/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    background: #ebebeb;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #1b6d85;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.blog-nav ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #cdddeb;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}

.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

a#topnav_current {
    color: #000;
    font-weight: 600;
    background-color: #ebebeb;
}

/*
 * Blog name and description
 */

.blog-header {
    padding: 10px 25px;
}

.blog-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: normal;
}

.blog-description {
    font-size: 15px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 0 -15px 15px;
    border-radius: 10px;
}

.sidebar-module .tag-cloud a {
    border: 1px solid #a7d29e;
    padding: 2px 3px;
    color: #23527c;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
}

.sidebar-module .tag-cloud a:hover {
    color: #ffffff;
    background: #6969a8;
    border: 1px solid #6969a8;
    text-decoration: none;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 30px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.blog-post-meta span {
    font-size: 14px;
    padding: 0 2px;
}

.blog-post p a:hover {
    padding: 2px;
    background-color: rgba(169, 235, 165, 0.52);
    text-decoration: none;
}

/*
 * Footer
 */

.blog-footer {
    padding: 8px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-footer a, a:hover {
    color: #999;
    text-decoration: none;
}

#tbox {
    width: 54px;
    float: right;
    position: fixed;
    right: 150px;
    bottom: 80px;
}

#gotop {
    display: none;
    clear: both;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

#gotop span {
    font-size: 30px;

}

#gotop {
    background-position: 12px 10px;
}

#gotop:hover {
    opacity: 0.8;
    color: #d43f3a;
}

