{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    <div class="col-sm-8 blog-main">
        {% for article in article_list %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'article' %}?id={{ article.id }}">{{ article.title }}</a></h2>
                <p class="blog-post-meta">{{ article.date_publish }} | < {{ article.category }} > |
                    {% for tag in article.tag.all %}<{{ tag.name }}>{% endfor %}</p>
                <p>{{ article.content | striptags | slice:":200" }}......</p>
                <p><a href="{% url 'article' %}?id={{ article.id }}" >More>>></a></p>
            </div>
        {% endfor %}
        <nav>
            {% include 'pagination.html' %}
        </nav>
    </div><!-- /.blog-main -->
{% endblock %}