{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    <pre><code>
    def tag(request):
    cid = request.GET.get('id', None)
    try:
        tag = Tag.objects.get(pk=cid)
    except Tag.DoesNotExist:
        return render(request, 'failure.html', {'reason': '标签不存在'})
    article_lists = Article.objects.filter(tag=tag)
    article_list = get_page(request, article_lists)
    return render(request, 'index.html', {'article_list': article_list})
</code></pre>
{% endblock %}